# DB CONFIGURATION
DB_SERVER='localhost'
DB_NAME='NexsusAcademy'
DB_INSTANCE='SQLEXPRESS'

# SOMEE DB CONFIGURATION 
SOMEE_SERVER='your_somme_server'
SOMEE_USER='your_somme_username'
SOMEE_PASSWORD='your_somme_password'

# STRIPE KEYS
STRIPE_SECRET_KEY='Your_Stripe_Secret_Key_Here'
STRIPE_PUBLISHABLE_KEY='Your_Stripe_Publishable_Key_Here'
STRIPE_WEBHOOK_SECRET='Your_Stripe_Webhook_Secret_Here'

# GOOGLE DRIVE API CONFIGURATION
CLIENT_ID='Your_Google_Client_ID_Here'
CLIENT_SECRET='Your_Google_Client_Secret_Here'
CALLBACK_URL='http://localhost:4000/api/auth/google/callback'

REFRESH_TOKEN='Your_Refresh_Token_Here'
PARENT_FOLDER_ID='Your_Parent_Folder_ID_Here'

# JWT CONFIG
JWT_SECRET='HelloMotherFather'

# OTP CONFIG
OTP_EMAIL='abdelrahmanashraf6000@gmail.com'
OTP_PASSWORD='Your_OTP_Email_Password_Here'

# Frontend URL
FRONTEND_URL='http://localhost:8081'